{% extends "layout.html" %}

    {% block code_block %}
        <body style="background: url('/static/background.jpg'); background-repeat: no-repeat;
        background-size: auto; ">
            <div class="container" style="font-family:verdana">
                <h1 style="text-align: center; color: orange;"><b>Welcome to the Train ticket Confirmation Prediction Application</b></h1>
                <p style = "font-size: large; color: yellowgreen; font-weight: bolder;">We are using folowing maching learning classification algorithm to classify and predict If Ticket will get confirm or Not and also how much chaces are there of confirmation.</p>
                <div class="container" style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">
                <p>Utsav Soni</p>
                <p>Omeshwar Choudhary</p>
                <p>Dasrath Ambika Yadav</p>
                <p>Vishal Kumar Gupta</p>
                </div>
                <div>
                    <h3>Click <a href="/input">here</a> to check out the application</h3>
                    <p>Developed with ❤️ by  Viitians</p>
                </div>
            </div>
        </body>
    {% endblock %}
